<html>
 <head></head>
 
 <body>
  <div class="bg-mask">
  <div class="qsedit">
   <!--< form_tag(quiz_path(@quiz), method: :patch) do %>-->
   <%= form_with(model:answer) do |f| %>
    <%= f.radio_button :answer,@quiz.choice1 %>
    <%= form.label :answer,@quiz.choice1,{value: @quiz.choice1} %>
    <%= f.radio_button :answer,@quiz.choice2 %>
    <%= form.label :answer,@quiz.choice2,{value: @quiz.choice2} %>
    <%= f.radio_button :answer,@quiz.choice3 %>
    <%= form.label :answer,@quiz.choice3,{value: @quiz.choice3} %>
    <%= f.hidden_field :quizzes_id %>
    <%= f.submit "回答" %>
   <% end %>
   

  </div>
  </div>
 </body>
</html>