<html>
 <head></head>
 
 <body>
  <div class="bg-mask">
  <div class="qsedit">
   <!--< form_tag(quiz_path(@quiz), method: :patch) do %>-->
   <%= form_tag(answer_path(@answer), method: :patch) do %>
    <h3><%= @quiz.questions %></h3>
    <%= radio_button_tag(:answer, @quiz.choice1) %>
    <%= label_tag(:answer, @quiz.choice1) %><br>
    <%= radio_button_tag(:answer, @quiz.choice2) %>
    <%= label_tag(:answer, @quiz.choice2) %><br>
    <%= radio_button_tag(:answer, @quiz.choice3) %>
    <%= label_tag(:answer, @quiz.choice3) %><br>
    <%= label_tag :学習メモ %><br>
    <%= text_area_tag :comment %>
    <%= submit_tag("回答") %>
    <!--ここにコメント欄を作成してカラムに反映させる。updateのviewにも表示させる。コメントない時にエラーにしないようにしなくては・・・-->
   <% end %>
  </div>
  </div>
 </body>
</html>